@import "tailwindcss";

:root {
  background-color: #000000;
  color: #ffffff;
}

body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}