@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased; /* 文字をきれいに見せる */
}

/* グリッドの線をきれいに出すための設定 */
.grid-border {
  border-color: #333;
}