@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffffff;
  color: #0f172a; /* 濃いグレー/黒 */
}

body {
  background-color: #ffffff;
  color: #0f172a;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}