@tailwind base;
@tailwind components;
@tailwind utilities;

/* ブラウザの初期設定を強制リセット */
:root {
  background-color: #000000;
  color: #ffffff;
}

body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 横揺れ防止 */
}

/* リンクの青色と下線を消す */
a {
  color: inherit;
  text-decoration: none;
}

/* スクロールバーも黒くする */
::-webkit-scrollbar {
  width: 10px;
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}