@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000;
  color: #ffffff;
}

body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}